db_files
*.iml
.project
.classpath
.project.properties
gen/
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
.idea/
.gradle/
.kotlin/
local.properties
gradle/
build/
gradlew*
.DS_Store
